<!DOCTYPE html>
<html>


<head>
    <link rel="shorcut icon" href="../favicon.ico" type="image/x-icon"/>
    <meta charset="UTF-8">
    <title>큐마켓 파트너스 페이지</title>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase.js"></script>
    <script>
        //'뒤로가기'로 이 코드가 있는 페이지로 돌아오면 히스토리백이 뜨고 '뒤로가기' 누르기 전 페이지로 돌아감
        window.onpageshow = function(event) {
            if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
                console.log(document.referrer)
                if(document.referrer == 'http://localhost:3000/start'){
                    history.go(1);
                }
            }
        } 
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        :root {
            --gray: #F8F8F8;
            --red: #E7713F;
        }

        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }
        /* 출력할 내용이 페이지를 넘어가면 알아서 스크롤이 생기나? 
        안생기면 html의 height를 조절하는 방법 밖에 없나?*/
        html {
            height: 100%;
        }

        body {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 0;
        }

        body>header {
            background-color: var(--gray);
            border-bottom: 1px solid black;
        }

        body>header a {
            color: black;
            text-decoration: none;
        }

        body>header img {
            width: 50px;
            height: 50px;
        }

        body>div {
            height: 100%;
            display: flex;
            flex-direction: row;
        }

        body>div>nav {
            width: 205px;
            height: 100%;
            background-color: var(--red);
            color: white;
        }

        body>div>nav>.login {
            padding: 10px;
            background-color: var(--gray);
            color: var(--red);
            cursor: pointer;
            text-align-last: center;
        }

        body>div>nav>.login:hover {
            color: black;
        }

        li>span {
            display: inline-block;
            width: 100%;
            padding: 5px 3px;
            background-color: #DADADA;
            color: var(--red);
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        body>div>nav>ul>li>ul>li {
            padding: 5px 20px;
        }

        body>div>nav>ul>li>ul>li:hover {
            background-color: var(--gray);
            color: black;
            cursor: pointer;
        }

        body>div>article {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            body>header {
                text-align: center;
            }

            body>div {
                flex-direction: column;
            }

            body>div>nav {
                height: auto;
                width: 100%;
            }

            body>div>article {
                height: 100%;
            }
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }

        /* 모바일에서 footer의 위치가 이상함 */
        footer {
            text-align: center;
            background-color: var(--gray);
            font-size: 0.8em;
        }

        #modal {
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.75);
        }

        #modal>div {
            position: relative;
            margin: auto;
            margin-top: 300px;
            padding: 10px 15px;
            z-index: 1;
            width: 300px;
            border-radius: 10px;
            background-color: white;
        }

        .clicked { 
            background-color: #FAFAFA;
            color: #E7713F;
        }
    </style>
</head>

<body class="main__body">
    <script>
        // Initialize Firebase
        var config = {
            apiKey: 'AIzaSyCTUAzHxysIJIm8rBYfiyjxl1J3YS19G9k',
            authDomain: 'qmarket-47a89.firebaseapp.com',
            databaseURL: 'https://qmarket-47a89.firebaseio.com',
            projectId: 'qmarket-47a89',
            storageBucket: 'qmarket-47a89.appspot.com',
            messagingSenderId: '840234128314',
            appId: '1:840234128314:web:b30dbd15389c3e1fbb8383',
            measurementId: 'G-3E3K2SENV2'
        };
        firebase.initializeApp(config);
        const messaging = firebase.messaging();
        messaging.onMessage((payload) => {
            var audio = new Audio("https://s3.ap-northeast-2.amazonaws.com/sopt.seongjin.com/배달+알림음.mp3");
            var audio_play_promise = audio.play();
            if (audio_play_promise !== undefined) {
                audio_play_promise.then(_ => {
                    // Autoplay started!
                    console.log("then");
                }).catch(error => {
                    // Autoplay was prevented.
                    // Show a "Play" button so that user can start playback.
                    console.log("catch");
                });
            }
        });
    </script>
    <script>
        function redirect(address) {
            var xhttp = new XMLHttpRequest()

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    window.location.href = xhttp.responseURL;
                }
            }
            xhttp.open("GET", address)
            xhttp.setRequestHeader('Content-Type', 'application/json')
            xhttp.send();
        }
    </script>

    <header>
        <a href="/"><img src="/images/logo.png"><span>파트너스</span></a>
    </header>
    <div>
        <nav>
            <div class="login" onclick="logout()">
                로그아웃
                <br />
                <%= user[1] %>(으)로 로그인 됨
            </div>
            <ul style="border-top: 3px solid #e7713f">
                <li>
                    <span>큐마켓</span>
                    <ul>
                        <li onclick="move('/manager/<%= user[3] %>/qnas?page=1', this)">
                            Q&A
                        </li>
                        <li class="clicked" onclick="move('/manager/<%= user[3] %>/order_request', this)">
                            주문
                        </li>
                        <li onclick="move('/manager/<%= user[3] %>/delivery?page=1', this)">
                            배송
                        </li>
                        <li onclick="move('/manager/<%= user[3] %>/payment/form', this)">
                            결제내역
                        </li>
                        <li onclick="move('/manager/<%= user[3] %>/enroll_main', this)">
                            상품/할인상품 등록
                        </li>
                        <li onclick="move('/manager/<%= user[3] %>/products/form', this)">
                            재고관리
                        </li>
                        <li onclick="move('/manager/<%= user[3] %>/vat/form', this)">
                            정산 및 부가세
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <article>
            <iframe id="content" src="/manager/<%= user[3] %>/order_request"></iframe>  
        </article>
    </div>
    <footer>
        큐마켓 관리자 페이지로 무단 접속 및 이용시 법적 근거에 의거하여 처벌받을 수 있습니다.
    </footer>

    <script>
        function move(link, obj) {
            console.log(link)
            var clicked = document.getElementsByClassName('clicked')
            if(clicked.length != 0) {
                clicked[0].classList.remove('clicked');
            }
            document.getElementById('content').src = link;
            obj.classList.add('clicked');
        }
        function logout() {
            window.location.href="/logout";
        }
    </script>
</body>

</html>