<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>큐마켓 파트너스</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }
        table {
            width: 100%;
        }
        img {
            width: 75px;
            height: 75px;
        }
        table, tr, td, th {
            border-collapse: collapse;
        }
        th {
            background-color: #F0F0F0;
        }
        th {
            padding: 10px 0px;
        }
        td {
            padding: 10px 2px;
            text-align: center;
        }
        tbody tr {
            border-bottom: 1px solid #F0F0F0;
        }

        @media screen and (max-width: 768px) {
            * {
                font-size: 0.9em;
            }
            td:nth-child(4) {
                width: 100px;
            }
        }
        .hidden {
            display: none;
        }
        .expandable:hover {
            background-color: #FAFAFA;
        }
        
        .important {
            background: #FFFFAA;
        }

    </style>
</head>

<body>
    <script>
        function expand(e) {
            if(e.nextElementSibling.classList.contains("hidden")) {
                e.nextElementSibling.classList.remove("hidden");
            } else e.nextElementSibling.classList.add("hidden");
        }
    </script>
    <script>
        window.setTimeout(() => {
            console.log('주기적 reload');
            window.location.reload()
        }, 180000);
    </script>
    <h1>주문확인
        <span style="font-size: 12px; color: #E7713F;">*클릭 시 상세 정보를 확인할 수 있습니다.</span>
        <span style="font-size: 12px; color: #E7713F;">*승인된 주문건은 배송탭에서 보실 수 있습니다.</span>
        <span style="font-size: 12px; color: #E7713F;">*주문승인 시 영수증도 출력됩니다.</span>
    </h1>
    <table>
        <tbody>
            <tr>
                <td style="width : 5%">
                    <input type="button" value="전체선택" onclick="boxes_check()"></button>
                </td>
                <td style="width : 95%">
                </td>
                <td>
                    <input type="button" value="주문승인" onclick="temp('<%= JSON.stringify(data) %>')"></button>
                </td>
                <td>
                    <input type="button" value="주문거절" onclick="reject_checked_boxes('<%= JSON.stringify(data) %>')"></button>
                </td>
                <td>
                    <input type="button" value="영수증출력" onclick="print_receipt('<%= JSON.stringify(data) %>')"></button>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th style="width : 4%"></th>
                <th>
                    주문날짜
                </th>
                <th>
                    수령인
                </th>
                <th>
                    전화번호
                </th>
                <th>
                    배송주소
                </th>
                <th>
                    승인여부
                </th>
            </tr>
        </thead>
        <tbody>
            
            <%
            const offset = new Date().getTimezoneOffset() * 60000; 
            for(let i = 0; i < data.length; i++) { %>
            <% if(data[i].status == 100) { %>
            <tr class="expandable important" onclick="expand(this)">
            <% } else { %>
            <tr class="expandable" onclick="expand(this)">
            <% } %>
                <td style="width : 5%">
                    <input id="<%= data[i].order_id %>" name="target_box" value="<%= i %>" type="checkbox" onclick="event.cancelBubble=true">
                </td>
                <td>
                    <%= data[i].order_date %>
		        </td>
                <td>
                    <%= data[i].receiver %>
                </td>
                <td>
                    <%= data[i].phone %>
                </td>
                <td>
                    <%= data[i].address %>
                </td>
                <%if(data[i].status === 100){
                    var is_delivery = '대기'
                }else if(data[i].status === 200){
                    var is_delivery = '배송대기'
                }else{
                    var is_delivery = '오류'
                }%>
                <td><%= is_delivery %></td>
            </tr>
            <tr class="hidden">
                <td colspan="5" style="margin: 0; padding: 0;">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    배송메모
                                </th>
                                <th>
                                    현관 비밀번호
                                </th>
                                <th>
                                    주문 상품
                                </th>
                            </tr>
                        </thead>
                        <tbody class="product_list">
                            <tr>
                                <td>
                                    <%= data[i].delivery_memo %>
                                </td>
                                <td>
                                    <%= data[i].home_pwd %>
                                </td>
                                <td>
                                    <table>
                                        <% for(var j=0; j<data[i].products.length; j++){ %>
                                        <tr>
                                            <td>
                                                <%=data[i].products[j].name%>
                                            </td>
                                            <td>
                                                <%=data[i].products[j].count%>개
                                            </td>
                                        </tr>
                                        <% } %>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <script src="/javascripts/myScript.js"></script>
    <script>
        async function temp(i){
            await approve_checked_boxes(i)
        }
        function boxes_check(){
            let checked = false;
            var boxes = document.getElementsByName("target_box");
            //목록이 빈 경우
            if(boxes.length == 0){}
            else{
                for(let i = 0; i < boxes.length; i++){
                    if(boxes[i].checked){
                        console.log(i);
                    } else {
                        boxes[i].checked = true;
                        checked = true;
                    }
                }
                if(!checked){
                    for(let i = 0; i < boxes.length; i++){
                        boxes[i].checked = false;
                    }
                }
            }
        }
        function approve_checked_boxes(i){
            var data = JSON.parse(i);
            let approve_orders = [];
            let approve_data = [];

            var boxes = document.getElementsByName("target_box");
            //주문 목록 없는 경우
            if(boxes.length == 0){}
            //있는 경우
            else{
                //체크된 주문 건 영수증 프린트 및 '주문요청' -> '배송대기' order 정리 
                for(let i = 0; i < boxes.length; i++){
                    if(boxes[i].checked){
                        approve_orders.push(i);
                    }
                }
                //체크된 박스가 없을 경우
                if(approve_orders.length == 0){}
                else {
                    let check = true;
                    for(let i = 0; i < approve_orders.length; i++){
                        if(data[approve_orders[i]].status == 200){
                            check = false;
                        }
                    }
                    if(check){
                        for(let i = 0; i < approve_orders.length; i++){
                            console.log(data[approve_orders[i]].order_id);

                            receipt(JSON.stringify(data[approve_orders[i]]));

                            approve_data.push(data[approve_orders[i]].order_id);
                        }

                        var xhttp = new XMLHttpRequest()
                        var requestBody ={
                            order_id : approve_data
                        }
                        var URL = "/manager/order/approval";

                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                alert('주문상태가 정상적으로 변경되었습니다!')
                                window.location.reload();
                            }
                        }

                        xhttp.open("PUT", URL)
                        xhttp.setRequestHeader('Content-Type', 'application/json')
                        xhttp.send(JSON.stringify(requestBody))

                    }
                    //이미 승인된 건이 끼어있는 경우
                    else {
                        alert('이미 승인된 주문이 포함되어 있습니다.')
                        window.location.reload();
                    }
                }
            }
        }
        function reject_checked_boxes(i){
            var data = JSON.parse(i);
            let reject_orders = [];

            var boxes = document.getElementsByName("target_box");

            //주문 목록 없는 경우
            if(boxes.length == 0){}
            //있는 경우
            else{
                //체크된 건 찾기
                for(let i = 0; i < boxes.length; i++){
                    if(boxes[i].checked){
                        reject_orders.push(data[i].order_id);
                    }
                }
                console.log(reject_orders)
                //체크가 되어 있지 않은 경우
                if(reject_orders.length == 0){}
                else{
                    var xhttp = new XMLHttpRequest()
                    var requestBody ={
                        order_id : reject_orders
                    }
                    var URL = "/manager/order/rejection";

                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            alert('주문상태가 정상적으로 변경되었습니다!')
                            window.location.reload();
                        }
                    }

                    xhttp.open("PUT", URL)
                    xhttp.setRequestHeader('Content-Type', 'application/json')
                    xhttp.send(JSON.stringify(requestBody))
                }
            }
        }
        function print_receipt(i){
            var data = JSON.parse(i);
            let print_orders = [];
            
            var boxes = document.getElementsByName("target_box");
            
            //주문 목록 없는 경우
            if(boxes.length == 0){}
            //있는 경우
            else{
                //체크된 건 찾기
                for(let i = 0; i < boxes.length; i++){
                    if(boxes[i].checked){
                        print_orders.push(i);
                    }
                }
                //체크된 건이 없는 경우
                if(print_orders.length == 0){}
                else{
                    for(let i = 0; i < print_orders.length; i++){
                        console.log(data[print_orders[i]].order_id + " : " + data[print_orders[i]].status);
                        receipt(JSON.stringify(data[print_orders[i]]));
                    }
                    window.focus()
                    window.location.reload();
                }
            }
        }
        // function change(i) {
        //     var data = JSON.parse(i);
        //     var change = document.getElementById('change_' + data.order_id).value;
        //     var xhttp = new XMLHttpRequest()
        //     var requestBody ={
        //         order_id : data.order_id,
        //     }
        //     var URL = ""
        //     if(change == 200){
        //         receipt(i)
        //         URL = "/manager/order/approval"
        //     } else if(change == 201){  
        //         URL = "/manager/order/rejection"
        //     }
        //     xhttp.onreadystatechange = function () {
        //         if (this.readyState == 4 && this.status == 200) {
        //             alert('주문상태가 정상적으로 변경되었습니다!')
        //             window.location.reload();
        //         } else {
        //         }
        //     }
        //     xhttp.open("PUT", URL)
        //     xhttp.setRequestHeader('Content-Type', 'application/json')
        //     xhttp.send(JSON.stringify(requestBody))
        // }
        
    </script>
</body>

</html>
