<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>큐마켓 관리자</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }
        table {
            width: 100%;
        }
        img {
            width: 75px;
            height: 75px;
        }
        table, tr, td, th {
            border-collapse: collapse;
        }
        thead {
            background-color: #F0F0F0;
        }
        th {
            padding: 10px 0px;
        }
        td {
            padding: 10px 0px;
            text-align: center;
        }
        tbody tr {
            border-bottom: 1px solid #F0F0F0;
        }
        .answer {
            width: 50%;
            height: 100px
        }
        .edit {
            width: 10%;
        }
        .page_num {
            width : 99.5%;
	    position : relative;
	    bottom : 0;
        }
        .page_num, a {  
            text-align: center;
            text-decoration: none;
        }
        .a_other_page {
            color: #646464;
		}
        .a_current_page {
            font-size: 150%;
            color: black;
            pointer-events: none;
		}

        @media screen and (max-width: 768px) {
            * {
                font-size: 0.95em;
            }
        }
        .hidden {
            display: none;
        }
        .important {
            background: #FFFFAA;
        }
    </style>
</head>

<body>
    <h1>상품 Q&A</h1>
    <table>
        <thead>
            <tr>
                <th>
                    상품 이미지
                </th>
                <th>
                    상품 이름
                </th>
                <th>
                    답변 상황
                </th>
            </tr>
        </thead>
        <tbody>
     <% for(let i = 0; i < data.qnas.length; i++) { %>
         <% if(data.qnas[i].state == "답변대기") { %>
            <tr class = "important" onclick="expand(this)">
         <% } else { %>
            <tr onclick="expand(this)">
         <% } %>
                <td>
                    <img src=<%= data.qnas[i].main_img %>
                </td>
                <td>
                    <%= data.qnas[i].product_detail_name %>
                </td>
                <td>
                    <%= data.qnas[i].state %>
                </td>
                <!-- <% if(data.qnas[i].state == "답변대기") { %>
                    <td>
                        <button>답글 달기</button>
                    </td>
                <% } %> -->
            </tr>
            <tr class="hidden">
                <td colspan="5" style="margin: 0; padding: 0;">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    문의사항
                                </th>
                                <th>
                                    <% if(data.qnas[i].state == "답변대기") { %>
                                        답변하기
                                    <% } else { %>
                                        답변 수정하기
                                    <% } %>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%= data.qnas[i].question %>
                                </td>
                                <td class = "answer">
                                    <% if(data.qnas[i].state == "답변대기") { %>
                                        <textarea id="answer" style="resize:none; width: 90%; height: 120px;"></textarea>
                                        <input style="float:right ; width:9%;" type="button" value="등록하기" onclick="answer('<%= data.qnas[i].qna_idx %>')"></input>
                                    <% } else { %>
                                        <textarea id="answer" style="resize:none; width: 90%; height: 120px;"><%= data.qnas[i].answer %></textarea>
                                        <input style="float:right ; width:9%;" type="button" value="수정하기" onclick="answer('<%= data.qnas[i].qna_idx %>')"></input>
                                    <% } %>
                                </td>
                            </tr>
                        </tbody>
                    </table>       
                </td>
            </tr>
     <% } %>
        </tbody>
    </table>
    <!-- 페이지 넘기기, move 추가 필요 -->
    <div class = "page_num">
     <% var current_page = data.current_page_num;
        var last_page = data.last_page_num;
        if(current_page < 6){
            if(last_page < 10){
                for(let i = 1; i <= last_page; i++){
                    if(i == current_page){ %>
                        <a href="#" class = "a_current_page" onclick="move_page('<%= data.partner_idx %>', this)">
                            <%= i %>
                        </a>
     <%             } else { %>
                        <a href="#" class = "a_other_page" onclick="move_page('<%= data.partner_idx %>', this)">
                            <%= i %>
                        </a>
     <%             }
                }
            } else {
                for(let i = 1; i <= 10; i++){ 
                    if(i == current_page){ %>
                        <a href="#" class = "a_current_page" onclick="move_page('<%= data.partner_idx %>', this)">
                            <%= i %>
                        </a>
     <%             } else { %>
                        <a href="#" class = "a_other_page" onclick="move_page('<%= data.partner_idx %>', this)">
                            <%= i %>
                        </a>
     <%             }
                }
            }
        } else if(last_page - current_page < 4){
            for(let i = 0; i < 10; i++){
                if(last_page - 9 + i < 1){}
                else { 
                    if(last_page - 9 + i == current_page){ %>
                        <a href="#" class = "a_current_page" onclick="move_page('<%= data.partner_idx %>', this)">
                            <%= last_page - 9 + i %>
                        </a>
     <%             } else { %>
                        <a href="#" class = "a_other_page" onclick="move_page('<%= data.partner_idx %>', this)">
                            <%= last_page - 9 + i %>
                        </a>
     <%             }
                }
            }
        } else {
            for(let i = 0; i < 10; i++){
                if(current_page - 5 + i == current_page){ %>
                    <a href="#" class = "a_current_page" onclick="move_page('<%= data.partner_idx %>', this)">
                        <%= current_page - 5 + i %>
                    </a>
     <%         } else { %>
                    <a href="#" class = "a_other_page" onclick="move_page('<%= data.partner_idx %>', this)">
                        <%= current_page - 5 + i %>
                    </a>
     <%         }
            }
        } %>
	</div>
</body>
<script>
    function answer(id){
        //서버 function에 답변 저장하는 내용 필요
        console.log(id)
        var ans_text = document.getElementById("answer");
        console.log(ans_text.value)
        if(ans_text.value == ""){
            alert('답변을 적어주세요!')
            window.location.reload();
        }
        else{
            var requestBody = {
                _id: id,
                answer: ans_text.value,
            }
            var xhttp = new XMLHttpRequest()
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert('답변이 정상적으로 등록되었습니다!')
                    window.location.reload();
                }
            }
            
            xhttp.open("POST", "/manager/qnas/answer")
            xhttp.setRequestHeader('Content-Type', 'application/json')
            xhttp.send(JSON.stringify(requestBody))
        }
    }

    function expand(e) {
        if(e.nextElementSibling.classList.contains("hidden")) {
            e.nextElementSibling.classList.remove("hidden");
        } else {
            e.nextElementSibling.classList.add("hidden");
        }
    }

    function move_page(partner_id, a_tag){
        var num = a_tag.text.replace(/(\s*)/g, "")
        var URL = "/manager/" + partner_id + "/qnas?page=" + num;
        console.log(URL)
        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200) {
                window.location.href = xhttp.responseURL;
            }
        }
        xhttp.open("GET", URL)
        xhttp.setRequestHeader("Content-Type", "application/json")
        xhttp.send();
    }
    // function QnA(i) {
    //     var xhttp = new XMLHttpRequest()

    //     xhttp.onreadystatechange = function () {
    //         if (this.readyState == 4 && this.status == 200) {
    //             window.location.href = xhttp.responseURL;
    //         }
    //     }
    //     //xhttp.open("GET", "/product/QnA/answer/" + i)
    //     xhttp.open("GET", "/manager/product/QnA/answer/" + i)
    //     xhttp.setRequestHeader('Content-Type', 'application/json')
    //     xhttp.send();
    // }
</script>
</html>
