<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>큐마켓 관리자</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }

        table {
            width: 100%;
        }

        img {
            width: 75px;
            height: 75px;
        }

        table,
        tr,
        td,
        th {
            border-collapse: collapse;
        }

        thead {
            background-color: #F0F0F0;
        }

        th {
            background-color: #F0F0F0;
            padding:10px 10px 15px 15px;
        }

        td {
            text-align: center;
            padding:10px 10px 15px 15px;
        }

        tbody tr {
            border-bottom: 1px solid #F0F0F0;
        }

        .pc {
            display: none;
            font-size: 0.4em;
            font-weight: normal;
            color: red;
        }

        .page_num {
            width : 99.5%;   
        }
        .page_num, a {  
            text-align: center;
            text-decoration: none;
        }
        .a_other_page {
            color: #646464;
		}
        .a_current_page {
            font-size: 150%;
            color: black;
            pointer-events: none;
		}

        @media screen and (max-width: 768px) {
            * {
                font-size: 0.95em;
            }

            .pc {
                display: inline;
            }
        }
    </style>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>
                    주문일시
                </th>
                <th>
                    주문번호
                </th>
                <th>
                    상품번호
                </th>
                <th>
                    결제수단
                </th>
                <th>
                    판매가
                </th>
                <th>
                    카드수수료 및 결제망 이용료
                </th>
                <th>
                    판촉 및 주문중개, 프로그램 이용료
                </th>
                <th>
                    100원딜 이벤트 지원금
                </th>
                <th>
                    상생지원금
                </th>
                <th>
                    정산대금
                </th>
                <th>
                    정산공급가
                </th>
                <th>
                    정산부가세
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < data.adjustments.length; i++) { %>
                <tr>
                    <td>
                        <%= data.adjustments[i].order_date %>
                    </td>
                    <td>
                        <%= data.adjustments[i].order_id %>
                    </td>
                    <td>
                        <%= data.adjustments[i].product_id %>
                    </td>
                    <td>
                        <%= data.adjustments[i].pay_method %>
                    </td>
                    <td>
                        <%= data.adjustments[i].price %>
                    </td>
                    <td>
                        <%= data.adjustments[i].card_fee %>
                    </td>
                    <td>
                        <%= data.adjustments[i].brokerage_program_usage_fee %>
                    </td>
                    <td>
                        <%= data.adjustments[i].one_hundred_deal_event_income %>
                    </td>
                    <td>
                        <%= data.adjustments[i].partner_income %>
                    </td>
                    <td>
                        <%= data.adjustments[i].settlement_price %>
                    </td>
                    <td>
                        <%= data.adjustments[i].settlement_supply_price %>
                    </td>
                    <td>
                        <%= data.adjustments[i].settlement_vat %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <!-- 페이지 넘기기, move 추가 필요 -->
    <div class = "page_num">
     <% var current_page = data.current_page_num;
        var last_page = data.last_page_num;
        if(current_page < 6){
            if(last_page < 10){
                for(let i = 1; i <= last_page; i++){
                    if(i == current_page){ %>
                        <a href="#" class = "a_current_page" onclick="move_page('<%= data.partner_idx %>',  '<%=data.start_date%>', '<%=data.end_date%>', this)">
                            <%= i %>
                        </a>
     <%             } else { %>
                        <a href="#" class = "a_other_page" onclick="move_page('<%= data.partner_idx %>',  '<%=data.start_date%>', '<%=data.end_date%>', this)">
                            <%= i %>
                        </a>
     <%             }
                }
            } else {
                for(let i = 1; i <= 10; i++){ 
                    if(i == current_page){ %>
                        <a href="#" class = "a_current_page" onclick="move_page('<%= data.partner_idx %>', '<%=data.start_date%>', '<%=data.end_date%>', this)">
                            <%= i %>
                        </a>
     <%             } else { %>
                        <a href="#" class = "a_other_page" onclick="move_page('<%= data.partner_idx %>',  '<%=data.start_date%>', '<%=data.end_date%>', this)">
                            <%= i %>
                        </a>
     <%             }
                }
            }
        } else if(last_page - current_page < 4){
            for(let i = 0; i < 10; i++){
                if(last_page - 9 + i < 1){}
                else { 
                    if(last_page - 9 + i == current_page){ %>
                        <a href="#" class = "a_current_page" onclick="move_page('<%= data.partner_idx %>', '<%=data.start_date%>', '<%=data.end_date%>', this)">
                            <%= last_page - 9 + i %>
                        </a>
     <%             } else { %>
                        <a href="#" class = "a_other_page" onclick="move_page('<%= data.partner_idx %>', '<%=data.start_date%>', '<%=data.end_date%>', this)">
                            <%= last_page - 9 + i %>
                        </a>
     <%             }
                }
            }
        } else {
            for(let i = 0; i < 10; i++){
                if(current_page - 5 + i == current_page){ %>
                    <a href="#" class = "a_current_page" onclick="move_page('<%= data.partner_idx %>','<%=data.start_date%>', '<%=data.end_date%>', this)">
                        <%= current_page - 5 + i %>
                    </a>
     <%         } else { %>
                    <a href="#" class = "a_other_page" onclick="move_page('<%= data.partner_idx %>','<%=data.start_date%>', '<%=data.end_date%>', this)">
                        <%= current_page - 5 + i %>
                    </a>
     <%         }
            }
        } %>
    </div>
    <script>
        function move_page(partner_id, s_d, e_d, a_tag){
            console.log(s_d)
            console.log(e_d)
            var num = a_tag.text.replace(/(\s*)/g, "")
            var URL = "/manager/" + partner_id + "/vat?page=" + num;
            

            URL = URL + "&start_date=" + s_d + "&end_date=" + e_d;
            console.log(URL)

            var xhttp = new XMLHttpRequest()
            xhttp.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200) {
                    window.location.href = xhttp.responseURL;
                }
            }
            xhttp.open("GET", URL)
            xhttp.setRequestHeader("Content-Type", "application/json")
            xhttp.send();
        }
    </script>
    <script>
        /******************* 큐메이커, 파트너 마트 선택 부분입니다 추후 사용 예정 *******************/
        // function move() {
        //     let type = document.getElementById('type');
        //     type = type.options[type.selectedIndex].value;
        //     if (type == "qmaker" || type == "partner") window.location.href = "/manager/product/vat/" + type;
        // }
        /********************************************************************************************/

        /******************************** 추후 구현 예정입니다!!! ********************************/
        // function download(element) {
        //     // 쿼리스트링 type 설정
        //     let type = document.getElementById('type');
        //     type = type.options[type.selectedIndex].value;
        //     if (type === "qmaker") type = "큐메이커";
        //     else if (type === "partner") type = "파트너마트";
        //     // 쿼리스트링 name, address 설정
        //     let col_count = 3;
        //     let row_num = (element.parentNode.parentNode.rowIndex - 1) * col_count;
        //     let name = document.getElementsByTagName('td')[row_num].childNodes[0].nodeValue.trim();
        //     let address = document.getElementsByTagName('td')[row_num + 1].childNodes[0].nodeValue.trim();
        //     // 쿼리스트링 start_date, end_date 설정
        //     start_date = $('#start_date').datepicker({ dateFormat: 'YYYY-mm-dd' }).val();
        //     end_date = $('#end_date').datepicker({ dateFormat: 'YYYY-mm-dd' }).val();
        //     if (start_date == "시작일") start_date = "2011-01-01"; // default 시작 날짜 추후 수정
        //     if (end_date == "종료일") {
        //         var now = new Date();
        //         var year = now.getFullYear();
        //         var month = ("0" + (1 + now.getMonth())).slice(-2);
        //         var day = ("0" + now.getDate()).slice(-2);
        //         end_date = year + "-" + month + "-" + day;
        //     }

        //     // URI 설정
        //     let uri = "/manager/product/vat/download";
        //     //let query_string = `?type=${type}&name=${name}&address=${address}&start_date=${start_date}&end_date=${end_date}`;
        //     let query_string = `?type=${type}&name=${name}&address=${address}&start_date=${start_date}&end_date=${end_date}`;
        //     uri += query_string;

        //     // API 호출
        //     var xhttp = new XMLHttpRequest();
        //     xhttp.open("GET", uri);
        //     xhttp.responseType = "blob";
        //     xhttp.setRequestHeader('Content-Type', 'application/json');
        //     xhttp.onload = function () {
        //         if (this.status == 200) {
        //             var blob = this.response;
        //             var link = document.createElement('a');
        //             link.href = window.URL.createObjectURL(blob);
        //             link.download = "큐마켓 - 부가세 신고 자료.xlsx";
        //             link.click();
        //         }
        //     }
        //     xhttp.send();
        // }
        /********************************************************************************************/
    </script>
</body>

</html>